@charset "UTF-8";


body {
    margin: 0;
    
    background-color: #545454;
}

.studyheader {
    background-color: #545454;
}
.header-container {
    width: 90%; 
    max-width: 1500px;
    margin: 0 auto;
    align-items: flex-start; 
    padding-top: 60px;
    padding-bottom: 60px;
}
.dark-section {
    background-color: #545454;
    
}
.info-column {
    width: 100%;
    padding-right: 0;
}



.slideshowcontainer {
    max-width: 100%;
    position: relative;
    margin-bottom: 25px;
}

#slideimage {
    width: 350px;
    height: 340px;;
    display: block;
    object-fit:cover;
}

#slideshowcaption {
    font-family:'Times New Roman', Times, serif;
    color:#f1f1f1;
    font-weight:100;
    font-size: 13px;
    margin-left: 85px;
    margin-top: -18px;
}

.prev, .next {
    cursor: pointer;
    position:static;
    width: auto;
    padding: 16px;
    bottom: 10px;
    margin-left: 0;
    margin-top: 0;

    color:#f1f1f1;
    font-weight: 100;
    font-size: 18px;
    transition: 0.6s;
    border-radius: 0 3px 3px 0;
}
.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.articlecontent {
    max-width: 700px;
    margin-left:auto;
    margin-top: -430px;
}


.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.bio-column {
    margin-top: 50px;
    width: 100%;
}
.neworleans {
    background-image: url('nola.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    position: relative;
    margin-bottom: 25px;
}

.nolaoverlaytext {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #f1f1f1;
    padding: 30px;
    background: rgba(0,0,0,0.4);
}

.nolatitle {
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 400;
    margin: 0;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}

.subtitle {
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
    line-height: 1.4;
}

.biotextbottom {
    color: #f1f1f1;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    margin-bottom: 50px;
}

.whatidid {
    display: flex;
    gap: 30px;
    align-items:flex-start;
    margin-bottom: 50px;
}

.whatididcontent {
    flex: 1;
}

.didimagecontainer {
    flex: 1;
    position: relative;
    padding-top: 65%;
    overflow: hidden;
}

.didimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 5px;
}


.name {
    color: #f1f1f1;
    font-family:'Times New Roman', Times, serif;
    font-weight:100;
    line-height: 1.1;
    margin-bottom: 0;
    font-size: 90px;
}
.title {
    color: #d9d9d9;
    font-family:'Times New Roman', Times, serif;
    font-weight:100;
    font-size: 50px;
    margin-top: 0;
}

.bio-text {
    color: #f1f1f1;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:100;
    font-size:25px;
}

.didtitle {
    font-family:'Times New Roman', Times, serif;
    color:#f1f1f1;
    font-weight: 100;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0;
    
}

.didlist {
    font-family:'Times New Roman', Times, serif;
    color:#f1f1f1;
    font-weight: 100;
    font-size: 16px;
    margin-left: -15px;
    line-height: 1.6;
    margin-top: 30px;
    
}

.nolalayovertext {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color:#f1f1f1;
    padding: 30px;
    background: rgba(0,0,0,0.4);

}

.porchtitle {
    color:#f1f1f1;
    font-family:'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight:lighter;
    line-height: 1.1;
    margin: 0;
    text-align:center;
    margin-bottom: 10px;

}

.porchchurchhero {
    background-image: url('canceralley.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    position:relative;
    margin-top: 10px;
    
}

.porchchurchoverlaytext {
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color:#f1f1f1;
    padding: 5px;
   

   
    
}
.porchtitle2 {
    color:#f1f1f1;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight:lighter;
    line-height: 1.1;
    text-align:center;
    
}

.nolap {
    margin-top: 10px;
    
}

.sharontext {
    font-size: 16px;
    color:#f1f1f1;
    font-family:'Times New Roman', Times, serif;
}

.sharonlavigne {
    width: 370px;
    height: 240px;
    margin-bottom: 0px;
    
}

.rise {
     font-size: 16px;
    color:#f1f1f1;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.2;
}

.sharoncaption {
    font-size: 11px;
    color:#f1f1f1;
    font-family:'Times New Roman', Times, serif;
    margin-top: 0px;
}

.paragraph {
    font-size: 16px;
    color:#f1f1f1;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.2;
}

.formosaplantimg {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}


.formosacaption {
    font-size: 12px;
    color:#f1f1f1;
    font-family:'Times New Roman', Times, serif;
    margin-top: 0px;
}

.caimg {
    width: 380px;
    height: 370px;
    margin-bottom: 0px;
   margin-left: 120px;
   margin-top: 5px;
}

.cacaption {
    font-size: 12px;
    color:#f1f1f1;
    font-family:'Times New Roman', Times, serif;
    margin-top: 0px;
}

.wdsuimg {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}

.wdsutitle {
    font-family:'Times New Roman', Times, serif;
    color:#f1f1f1;
    font-weight: 100;
    font-size: 50px;
    margin-bottom: 15px;
    margin-top: 0;
}
.wdsucaption {
    font-size: 14px;
    color:#f1f1f1;
    font-family:'Times New Roman', Times, serif;
    margin-top: 0px;
}

.nav {
    background-color: #545454;
    text-align:center;
    padding: 10px;
}

.navlink {
    color:#d9d9d9;
    font-family:'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: 100;
    margin: 0 15px;
}

.navlink:hover {
    color:#f1f1f1;
    padding-bottom: 3px;
}

.footer{
    background-color:#545454;
    color:#f1f1f1;
    padding: 20px 0 60px 0;
}

.footercontent {
    display:flex;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    gap: 40px;
}



.social h3 {
    font-family:'Times New Roman', Times, serif;
    font-size: 34px;
    font-weight: 100;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: -170px;
}

.social a {
    color:#f1f1f1;
    text-decoration:underline;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    display: block;
    margin-bottom: 16px;
    margin-left: -170px;
    margin-top: 12px;
}

.contact {
    margin-left: auto;
    text-align:right;
    
}

.contact .footname {
    color:#f1f1f1;
    font-family:'Times New Roman', Times, serif;
    font-weight: 100;
    line-height: 1.1;
    margin-bottom: 10px;
    font-size: 50px;
    margin-top: 0;
    margin-right: -170px;
}

.contact p, 
.contact a {
    text-align: right;
}

.contact p {
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    margin-right: -170px;
}

.contact a {
    color:#f1f1f1;
    text-decoration: none;
}
