@charset "UTF-8";

body {
    margin: 0 100px 0 100px;
    background-color: #545454;
}

.header-container {
    width: 90%; 
    max-width: 1500px;
    margin: 0 auto;
    align-items: flex-start; 
    padding-top: 0px;
    padding-bottom: 60px;
}
.navigation {
    background-color: #545454;
    
}
.info-column {
    flex: 1.5; 
    padding-right: 40px;
    text-align:center;
}

.name {
    color: #f1f1f1;
    font-family:'Times New Roman', Times, serif;
    font-weight:100;
    line-height: 1.1;
    margin-bottom: 0;
    font-size: 65px;
}
.nav {
    background-color: #545454;
    text-align:center;
    padding: 10px;
}

.navlink {
    color:#d9d9d9;
    font-family:'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: 100;
    margin: 0 15px;
}

.navlink:hover {
    color:#f1f1f1;
    padding-bottom: 3px;
}

.footer{
    background-color:#545454;
    color:#f1f1f1;
    padding: 20px 0 60px 0;
}

.footercontent {
    display:flex;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    gap: 40px;
}



.social h3 {
    font-family:'Times New Roman', Times, serif;
    font-size: 34px;
    font-weight: 100;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: -170px;
}

.social a {
    color:#f1f1f1;
    text-decoration:underline;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    display: block;
    margin-bottom: 1px;
    margin-left: -170px;
    margin-top: 12px;
}

.contact {
    margin-left: auto;
    text-align:right;
    
}

.contact .footname {
    color:#f1f1f1;
    font-family:'Times New Roman', Times, serif;
    font-weight: 100;
    line-height: 1.1;
    margin-bottom: 10px;
    font-size: 50px;
    margin-top: 0;
    margin-right: -170px;
}

.contact p, contact a {
    text-align: right;
}

.contact p {
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    margin-right: -170px;
}

.contact a {
    color:#f1f1f1;
    text-decoration: none;
}

.hurricanecaption, .electioncaption, .columbiacaption {
    font-family:'Times New Roman', Times, serif;
    color:#f1f1f1;
    font-weight: 100;
    font-size: 16px;
    margin-left: 0px;
    line-height: 1.6;
    margin-top: 30px;
    margin-right: 30px;
}

.hurricanetitle, .electiontitle, .columbiatitle {
    font-family:'Times New Roman', Times, serif;
    color:#f1f1f1;
    font-weight: 100;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0;
    
}

.floodlink {
    font-family:'Times New Roman', Times, serif;
    color:#f1f1f1;
    font-weight: 100;
    font-size: 16px;
    margin-left: 0;
    line-height: 1.6;
    margin-top: 30px;
}


table {
    margin-top: 50px;
}

.wachhead {
    margin-left: 240px;
    margin-top: -20px;
}