@charset "UTF-8";

body {
    background-color:#545454;
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    color:#f1f1f1;
}

.broadcasttitle{
    padding: 40px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.broadcastw {
    padding-bottom: 20px;
}


.headercontainer {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.videoheading {
    color: #f1f1f1;
    font-family:'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 15px;
}

a {
    text-decoration:none;
    color:#f1f1f1;
}

.videolist {
    margin-top: 50px;
    flex: 2;
    margin-left: 90px;
}

.vidseperator {
    border: none;
    border-top: 1px solid #777777;
    margin: 40px 0;
}

.btitle {
    font-size: 3em;
    color:#f1f1f1;
    display:inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.articlelistcolumn {
    padding: 20px 0;
}

.videoheading {
    font-size: 1.8em;
    color:#f1f1f1;
    margin-top: 10px;
    margin-bottom: 15px;
    text-transform:uppercase;
}


.vidseperator {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 40px 0;
}

.articlelinkcontainer {
    display:grid;
    gap: 30px;
    padding: 10px 0;
}

.articlelink {
    display:block;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
}

.articlefig {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
}

.articlefig img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.articlecaption {
    padding: 15px;
    font-size: 1.1em;
    font-weight: bold;
    text-align: left;
    color:#f1f1f1;
    flex-grow: 1;
    background-color:#545454;
}

.nav {
    background-color: #545454;
    text-align:center;
    padding: 10px;
}

.navlink {
    color:#d9d9d9;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0 15px;
}

.navlink:hover {
    color:#f1f1f1;
    padding-bottom: 3px;
}

.footer{
    background-color:#545454;
    color:#f1f1f1;
    padding: 20px 0 60px 0;
}

.footercontent {
    display:flex;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    gap: 40px;
}



.social h3 {
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 100;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: -170px;
}

.social a {
    color:#f1f1f1;
    text-decoration:underline;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    display: block;
    margin-bottom: 16px;
    margin-left: -170px;
    margin-top: 12px;
}

.contact {
    margin-left: auto;
    text-align:left;
    
}

.contact .footname {
    color:#f1f1f1;
    font-family:'Times New Roman', Times, serif;
    font-weight: 100;
    line-height: 1.1;
    margin-bottom: 10px;
    font-size: 50px;
    margin-top: 0;
    margin-right: -170px;
}

.contact p, contact a {
    text-align: right;
}

.contact p {
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    margin-right: -170px;
}

.contact a {
    color:#f1f1f1;
    text-decoration: none;
}