@charset "UTF-8";

body {
    margin: 0;
    
    background-color: #545454;
}

.header-container {
    display: flex; 
    width: 90%; 
    max-width: 1500px;
    margin: 0 auto;
    padding: 250px 0 240px 0;
    align-items: flex-start; 
}
.dark-section {
    background-color: #545454;
    
}
.info-column {
    flex: 1.5; 
    padding-right: 40px;
}

.bio-column {
    flex: 1;
    margin-top: 270px;
    margin-left: -30px;
    margin-bottom: 0;
}

.name {
    color: #f1f1f1;
    font-family:'Times New Roman', Times, serif;
    font-weight:100;
    line-height: 1.1;
    margin-bottom: 0;
    font-size: 100px;
}
.title {
    color: #d9d9d9;
    font-family:'Times New Roman', Times, serif;
    font-weight:100;
    font-size: 70px;
    margin-top: 0;
}

.bio-text {
    color: #f1f1f1;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:100;
    font-size:25px;
}

.aboutme{
    background-color:white;
    max-width: 1450px;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.abouttitle{
    color: #666666;
    font-family:'Times New Roman', Times, serif;
    font-weight:100;
    line-height: 1;
    margin-bottom: 0.5em;
    font-size: 80px;
    margin-top: 0;
    text-transform:uppercase;
    text-align:left;
}

.about-me-split{
    display: flex;
    gap:40px;
    align-items:end;
}

.textside {
    flex: 1.2;
    margin-top:0;
    min-height: 1px;
   margin-right: 10px;
}

.imageside {
    flex: 0.8;
    display:flex;
    align-items:center;
    margin-left: 190px;
    margin-bottom: 60px;
    margin-right: 50px;
}

.about-me-photo {
    max-width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
}

.welcome{
    margin-top: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: #666666;
    line-height: 1.5;
    margin-bottom: 30px;
}

.dropdown {
    position:relative;
    display:block;
    margin-top: 10px;
    margin-bottom: 20px;
}

.dropbtn {
    background-color:transparent;
    color:#666666;
    padding: 0;
    margin:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:20px;
    text-transform:uppercase;
    font-weight: bold;
    border:none;
    cursor:pointer;
    margin-bottom: 10px;
    
}

.dropbtn:hover {
    color: #a0a0a0;
}

.dropcontent {
    display:none;
    position: absolute;
    background-color:aliceblue;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    border: 1px solid #e0e0e0;
    margin-top: 0px;
    top: 100%;
}
.dropcontent a {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:20px;
    text-transform:uppercase;
    font-weight: bold;
    color:#666666;
    padding: 8px 15px;
    display: block;
}

.dropcontent a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropcontent {
    display:block;
}

.studyusa {
    background-color:transparent;
    color:#666666;
    padding: 0;
    margin-top: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:20px;
    text-transform:uppercase;
    font-weight: bold;
    border:none;
    cursor:pointer;
    margin-bottom: 15px;
    display:block;
    
}

.wachfox {
    background-color:transparent;
    color:#666666;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:20px;
    text-transform:uppercase;
    font-weight: bold;
    border:none;
    cursor:pointer;
    margin-bottom: 5px;
    display:block;
}
.nav {
    background-color: #545454;
    text-align:center;
    padding: 10px;
}

.navlink {
    color:#d9d9d9;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0 15px;
}

.navlink:hover {
    color:#f1f1f1;
    padding-bottom: 3px;
}

.footer{
    background-color:#545454;
    color:#f1f1f1;
    padding: 20px 0 60px 0;
}

.footercontent {
    display:flex;
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
    gap: 40px;
}



.social h3 {
    font-family:'Times New Roman', Times, serif;
    font-size: 34px;
    font-weight: 100;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: -170px;
}

.social a {
    color:#f1f1f1;
    text-decoration:underline;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    display: block;
    margin-bottom: 1px;
    margin-left: -170px;
    margin-top: 12px;
}

.contact {
    margin-left: auto;
    text-align:right;
    
}

.contact .footname {
    color:#f1f1f1;
    font-family:'Times New Roman', Times, serif;
    font-weight: 100;
    line-height: 1.1;
    margin-bottom: 10px;
    font-size: 50px;
    margin-top: 0;
    margin-right: -170px;
}

.contact p, contact a {
    text-align: right;
}

.contact p {
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    margin-right: -170px;
}

.contact a {
    color:#f1f1f1;
    text-decoration: none;
}













